<div id="comments">
  <% for event_comment in @event.event_comments %>
    <p>
      <div class="commentheader">      
        <% if event_comment.user %>
          <strong><%= event_comment.user.user_profile.nickname || event_comment.user.name %>:</strong>
        <% end %>
               <span class="commentbody"> <%= event_comment.comment %> </span>
      </div>
      <div class="commentdate">
          <%= event_comment.created_at.in_time_zone.strftime("%A, %I:%M %P") %>
      </div>
    </p>
  <% end %>
  
  <%= form_for([@event, @event.event_comments.build],:remote => true) do |f| %>
  <p>
    <%= f.text_area :comment, class: 'textareafull' %>
  </p>
  <p>
    <%= button_to "Submit Comment", @event, remote: true, class: 'btn btn-primary' %>
  </p>
<% end %>

<div>
  <br><br>



