<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :is_private %>
    <%= f.input :user_id %>
    <%= f.input :location_id %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
