<%= simple_form_for(@user_profile) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :nickname, :input_html => {:class => 'form-control' } %>
    <%= f.input :sms_number, label: 'SMS Number', as: 'tel', :input_html => {:class => 'form-control' } %>
    <%= f.label 'Cell Carrier' %>
    <%= select( :user_profile, :sms_carrier, UserProfile.sms_carriers.keys, :html => {:class => 'form-control' } ) %>
    <%= f.input :home_address,  :input_html => {:class => 'form-control' } %>
  </div>
  <br>
  <div class="actions">
    <%= f.button :submit, :class => 'btn btn-success' %>
  </div>
<% end %>
