<h4><%= @game_type.name %></h4>


<span class="stars">1</span> <%= @game_type.level1 %>
<br><br>
<span class="stars">2</span> <%= @game_type.level2 %>
<br><br>
<span class="stars">3</span> <%= @game_type.level3 %>
<br><br>
<span class="stars">4</span> <%= @game_type.level4 %>
<br><br>
<span class="stars">5</span> <%= @game_type.level5 %>


