<%= simple_form_for(@recurring_event, html: {novalidate: true}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :name, :input_html => {:class => 'form-control' }  %>
    <%= f.association :game_type, :required => true, :input_html => {:class => 'form-control' } %>
    <div class="control-group">
      <label class="control-label" for=:level>Level of Play</label>
      <div class=" required">
        <%= f.select :level, @levels  %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for=:day>Day of week</label>
      <div class=" required">
        <%= f.select :day, Date::DAYNAMES.zip((0..6).to_a), :required => true, :input_html => { :class => 'form-control' }  %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for=:start_time>Start Time</label>
      <div class="controls">
        <%= f.time_select :start_time, :required => true,
          :combined => true,
          :default => Time.zone.now.change(:hour => 11, :min => 30),
          :minute_interval => 15,
          :time_separator => "",
          :start_hour => 0,
          :start_minute => 30,
          :end_hour => 23,
          :end_minute => 30
        %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for=:end_time>End Time</label>
      <div class="controls">
        <%= f.time_select :end_time, :required => true,
          :combined => true,
          :default => Time.zone.now.change(:hour => 11, :min => 30),
          :minute_interval => 15,
          :time_separator => "",
          :start_hour => 0,
          :start_minute => 30,
          :end_hour => 23,
          :end_minute => 30
        %> 
      </div>
    </div>
    <%= f.input :location_id, :as => :hidden %>
  <br>
<%= f.button :submit, "Save",:class => "btn btn-success" %>
<% end %>

