<p>
  <strong>
    <%= @recurring_event.name %> - <%= @recurring_event.game_type.name %>
  </strong>
  
  <span class="stars"><%= @recurring_event.level %></span>

</p>
<div>
  <%=Date::DAYNAMES[ @recurring_event.day ] %> 
  <%=  get_time_string( @recurring_event ) %>
</div>

  <%= @recurring_event.location.name %>
  <address>
    <%= @recurring_event.location.address %>
  </address>


<div id="myeventbuttons">
  <%= render 'rec_event_buttons' %>
</div>
<br>


  <div class="collapse-group">
   <div class="collapse">
      <addressmap><%= @recurring_event.location.address %></addressmap>
    </div>
   <a id="mapbutton" class="btn btn-info" style="color:#fff" href="#">
     <span class="glyphicon glyphicon-map-marker"></span> View map &raquo;</a>
   </div>
<br>
<div>
    <%= link_to "Edit", {:controller => "recurring_events", :action => "edit", :method => "get", 
        :recurring_event_id => @recurring_event.id}, :class => 'btn btn-primary', :type => 'button' %>
</div> 


