<% @location.recurring_events.all(:order => "day, start_time").each do | r | %>
  <%= link_to r do %>
  <div style='position:relative; background-color:#efe; padding: 5px; margin-bottom:5px'>
    <span class='linkedspan'></span>       
    <span>
      <strong>
        <%= link_to Date::DAYNAMES[ r.day ],  r.location.name  %> 
        <%= " - " + r.game_type.name %> 
      </strong>
    </span> 
    <br>
    <%= r.name %>
    <div > <%= get_timestring( r.start_time, r.end_time ) %> </div>
    <span class="stars"> <%= r.level %></span> 
  </div>
  
  <% end %>
<% end %>


