<% @location.recurring_events.all(:order => "day, start_time").each do | r | %>
  <%= link_to r do %>
  <div style='position:relative; background-color:#efe; padding: 5px; margin-bottom:5px'>
    <span class='linkedspan'></span>       
    <span>
      <strong>
        <%= link_to Date::DAYNAMES[ r.day ],  r.location.name  %> 
        <%= " - " + r.game_type.name %> 
      </strong>
    </span> 
    <br>
    <%= r.name %>
    <% time = "" %>
    <%if r.start_time %>
    <% time += r.start_time.strftime("%l:%M %P") %>
      <% if r.end_time %>
      <%time += " - " + r.end_time.strftime("%l:%M %P") %>
      <% end %>
    <% end %> 
    <div > <%= time %> </div>
    <span class="stars"> <%= r.level %></span> 
  </div>
  
  <% end %>
<% end %>


